*, ::after, ::before {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: antiquewhite;
    user-select: none;
}

html,
body {
    font-size: 16px;
    word-wrap: break-word;
    letter-spacing: 1.33px;
}

a {
    text-decoration: none;
}

/* START STYLE POUR LA PAGE D'ACCUEIL ET LA GALERIE DES WEBTOONS */
.page-content {
    margin-top: 50px;
    background-color: var(--bg-black2);
    padding: 11px 0;
    border-radius: 23px;
    width: 100%;
    z-index: 2;
    position: relative;
}

.webt-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 7px 0;
}
.webt-list h1 {
    color: var(--col-blue2);
    font-size: var(--font-h-x);
}

.list {
    width: 13.2rem;
    height: 328px;
    background-color: black;
    margin: 10px;
    overflow: hidden;
    border-radius: 25px;
    padding-bottom: 5px;
}

.list .text {
    padding: 10px 9px;
    color: var(--col-blue1);
    height: 50px;
    text-align: center;
}

.list .text h4 {
    font-size: 1.2rem !important;
}

.list .item .text2 {
    color: var(--col-blue1);
    height: 50px;
    display: none;
    text-align: center;
    padding-top: 5px;
}

.webt-list a {
    font-size: 11px !important;
    margin-bottom: 15px;
    text-align: center;
}

.webt-list .list:hover {
    box-shadow: 0 10px 10px rgba(37, 163, 191, 0.8);
    opacity: 0.7;
}

.list .item {
    height: 278px;
    flex-shrink: 0;
}

/* TAILLE DES IMAGES POUR LA PAGE show(dossier post) ET index */
.list .item img,
.webt-img img {
    width: 100%;
    height: 100%;
}

.rio-paginated {
    display: block;
    margin-left: 35px;
}

/* PAGINATION START */

[data-pagination] {
    line-height: 1;
    font-weight: 400;
    display: flex;
}

[data-pagination] ul {
    list-style-type: none;
    padding: .5em;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

[data-pagination] ul li {
    margin-right: 8px;
    text-align: center;
    position: relative;
    font-size: 1.4rem;
}

[data-pagination] a {
    text-decoration: none;
}

[data-pagination] ul li span {
    color: white;
}

/* Disabled & Hidden Styles */
[data-pagination] .disabled,
[data-pagination] [hidden],
[data-pagination] [disabled] {
    opacity: .2;
    pointer-events: none;
}

/* Rounded block styles */

[data-pagination] .rounded-blocks li a,
[data-pagination] .rounded-blocks li a:link,
[data-pagination] .rounded-blocks li a:visited {
    color: white;
    display: block;
    padding: 6px 3px;
    border-radius: 50%;
    background: var(--col-blue2);
    background: linear-gradient(180deg, var(--col-blue1), var(--col-blue2));
    width: 30px;
    height: 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s;
}

[data-pagination] .rounded-blocks li a:hover,
[data-pagination] .rounded-blocks li.active a {
    color: var(--bg-black1);
    border-radius: 5px;
    background: var(--col-blue2);
    background: linear-gradient(180deg, var(--col-blue2), var(--col-blue1));
}

[data-pagination] .rounded-blocks li:first-of-type a,
[data-pagination] .rounded-blocks li:last-of-type a {
    width: auto;
    border-radius: 25px 0 0 25px;
    padding: 6px 25px 0 15px;
    text-align: left;
}

[data-pagination] .rounded-blocks li:first-of-type a:before,
[data-pagination] .rounded-blocks li:last-of-type a:before {
    position: absolute;
    content: "";
    width: 46px;
    height: 46px;
    background: var(--bg-black2);
    border-radius: 50%;
    top: -3px;
    right: -35px;
}

[data-pagination] .rounded-blocks li:last-of-type a {
    border-radius: 0 25px 25px 0;
    text-align: right;
    padding: 6px 15px 0 20px;
}

[data-pagination] .rounded-blocks li:nth-last-of-type(2) {
    z-index: 3;
}

[data-pagination] .rounded-blocks li:last-of-type a:before {
    right: auto;
    left: -35px;
}

@media (min-width: 350px) {
    [data-pagination] {
        font-size: 10pt;
    }
}

@media (min-width: 500px) {
    [data-pagination] {
        font-size: 12pt;
    }
}

@media (min-width: 700px) {
    [data-pagination] {
        font-size: 14pt;
    }
}

@media (min-width: 900px) {
    [data-pagination] {
        font-size: 16pt;
    }
}


/* PAGINATION END */

@media screen and (max-width: 540px) {
    .list {
        width: 120px;
        height: 174px;
        border-radius: 0;
    }

    .list .text {
        display: none;
    }

    .list .item .text2 {
        display: block;
        padding: 5px 0 0 0;
    }

    .list .item .text2 h4 {
        font-size: 15px !important;
    }

    .list .item {
        height: 125px;
        border-radius: 10px;
    }
}
/* END STYLE POUR LA PAGE D'ACCUEIL ET POUR LA GALERIE DES WEBTOONS */

/* START STYLE POUR LA PAGE SHOW */
.one-webt {
    color: white;
    height: auto;
    display: grid;
    padding: 10px 50px;
    grid-template-columns: repeat(auto-fill, 1fr);
    /*on crée le nombre de colonne*/
    justify-content: center;
    align-content: space-around;
    grid-column-gap: 30px;
}

.one-webt .webt-img {
    margin-top: 60px;
    border-radius: 50%;
    width: 300px;
    height: 450px;
}

.one-webt .webt-info h4,
.read-title h1 {
    font-size: 2rem !important;
    margin-bottom: 41px;
    color: var(--col-blue1);
}

.one-webt .webt-info {
    grid-column: 2 / 4;
}

.one-webt .webt-info .synopsis {
    text-align: justify;
}

.last-chapters {
    color: white;
    padding: 30px;
    margin: 16px 0;
    font-size: 18px;
}

.last-chapters .table-resp--web {
    max-height: 400px;
    overflow-x: hidden;
    width: 90%;
}

.last-chapters .table-resp--web table tbody td a {
    text-decoration: none;
    color: var(--col-gray1);
    position: relative;
}

.last-chapters .table-resp--web table tbody td a:hover,
.links a,
.lien a:hover {
    color: var(--col-blue1);
}

div.rio-v {
    display: flex;
    justify-content: space-between;
}

div.votes button {
    margin: 0 12px;
    border: none;
    font-size: 1.22rem;
    cursor: pointer;
    background-color: transparent;
    transition: color .4s;
}

div.votes button span.rio-m-9 {
    margin-right: 9px;
    font-weight: 500;
    font-style: italic;
}

div.votes button.like i:hover,
.is-like .like i {
    color: var(--col-green0);
}

div.votes button.dislike i:hover,
.is-dislike .dislike i {
    color: var(--col-red);
}

@media screen and (max-width: 995px) {
    .one-webt {
        padding: 10px;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .one-webt .webt-img {
        margin: 50px 0;
    }

    .one-webt .webt-info h4 {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        text-align: center;
    }

}

@media screen and (max-width: 416px) {
    .one-webt .webt-img {
        width: 200px;
        height: 310px;
    }

    .one-webt .webt-info h4 {
        font-size: 1.2rem !important;
    }
}

/* END STYLE POUR LA PAGE SHOW */

/* START STYLE POUR LA PAGE READ */
.read-title {
    margin-top: 18px;
    text-align: center;
    width: 100%;
}

.links {
    width: 100%;
    padding: 10px 20px;
    height: 90px;
}

.links a {
    color: var(--col-gray1);
    margin-left: 24px;
    margin-right: 24px;
    text-decoration: none;
    font-size: 1.32rem;
}

.links a:hover {
    color: var(--col-yellow1);
}

.links select {
    width: auto;
    height: 30px;
    padding: 0 12px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: black;
    font-size: 1.23rem;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
}

.links form {
    display: inline;
}

.links form button {
    margin-left: 30px;
    padding: 5px 9px;
    border: none;
    background-color: var(--col-red);
    text-transform: uppercase;
    word-spacing: 4px;
}

.links form button i {
    margin-right: 8px;
}

.links form button:hover {
    background-color: var(--col-green);
}

.read-webt {
    margin-bottom: 38px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

/* END STYLE POUR LA PAGE READ */

/* START STYLE POUR LA PAGE D'INSCRIPTION */

.content-form {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.content-form .form {
    flex-basis: 100%;
    max-width: 30rem;
    background-color: rgba(255, 255, 255, .96);
    padding: 3.22rem 0;
    position: relative;
    z-index: 5;
    border-radius: 14px;
    box-shadow: 0 0 30px rgba(167, 184, 145, 0.5);
}

.content-form .form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 15rem;
    width: 100%;
    background: linear-gradient(45deg, var(--col-blue1), #2B426D, #7380A8);
    border-radius: 0 0 100% 100%;
    transition: all .3s;
    z-index: -1;
}

.content-form .form h1 {
    position: absolute;
    top: 0.58rem;
    left: 3rem;
    color: black;
    font-size: 2.3rem;
}

.content-form .form p {
    margin: 0;
    text-align: center;
    color: var(--col-red);
}

.content-form .form-input p {
    position: absolute;
    top: 98%;
    color: var(--col-red);
    font-size: 14px;
}

.content-form .form form {
    background-color: rgba(255, 255, 255, .96);
    padding: 1rem 2rem;
    border-radius: 14px;
    box-shadow: 0 0 30px rgba(167, 184, 145, 0.5);
    transform: translateX(10rem);
    transition: all .3s;
}

.content-form .form .form-input {
    position: relative;
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    margin-bottom: 20px;
}

.content-form .form .form-input i {
    font-size: 1.25rem;
    margin-right: 1rem;
    color: var(--col-blue2);
    padding: 3px;
}

.content-form .form .form-input input {
    width: 100%;
    border: none;
    outline: none;
    color: #000;
    font-size: 1.25rem;
    padding: 1rem 0;
    background: transparent;
}

.content-form .form .form-input .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 1px;
}

.content-form .form .form-input .bar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--col-blue1);
    width: 100%;
    height: 2px;
    transform: scale(0);
    transform-origin: left;
    transition: transform .5s;
}

.content-form .form .form-input input:focus+.bar::after {
    transform: scale(1);
}

.view {
    display: flex;
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;
    right: 5px;
    z-index: 10;
    cursor: pointer;
    font-size: 28px;
}

.content-form .form .form-input .view:hover {
    color: var(--col-blue2);
}

.view .fa-eye,
.r-error {
    display: none;
}

.content-form .form form .submit-btn {
    display: block;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: black;
    font-weight: 600;
    background: linear-gradient(45deg, var(--col-blue1), #2B426D, #7380A8);
    border-radius: 24px;
    padding: 1rem 1.2rem;
    text-align: center;
    cursor: pointer;
    margin: 1rem auto 2rem;
    transition: all .3s;
}

.content-form .form form .submit-btn:hover {
    background: linear-gradient(-45deg, var(--col-blue1), #2B426D, #7380A8);
}


@media (max-width: 985px) {
    .content-form .form h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .content-form .form form {
        transform: translateX(0);
        border-radius: unset;
        box-shadow: unset;
    }

    .content-form .form form::before {
        height: 10rem;
    }
}

/* END STYLE POUR LA PAGE D'INSCRIPTION */

/* START FOR VERIFYACCOUNT */

div.form-verif {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
div.error-verif {
    position: absolute;
    top: 20px;
    font-size: var(--font-h);
}
.verify-form {
    width: 500px;
    background-color: #eeeeee;
    padding: 5px 30px;
    display: grid;
    gap: 25px;
    padding-bottom: 30px;
}
.verify-form h3 {
    color: #000;
    font-size: var(--font-h-m);
}
.verify-form input {
    width: 100%;
    padding: 10px;
}
/* END FOR VERIFYACCOUNT */

/* START STYLE POUR LA PAGE DE CONNEXION  */

.wrapper {
    position: fixed;
    top: 65px;
    z-index: 30;
    width: 100%;
    height: 100%;
    display: none;
}

.wrapper .content-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.wrapper.active-popup {
    display: block;
}

.wrapper .form-box {
    position: relative;
    width: 380px;
    height: 420px;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    z-index: 45;
    padding: 11px 5px 10px;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: var(--col-blue2);
    color: var(--col-red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 8px;
    cursor: pointer;
    font-size: 2rem;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: var(--col-blue2);
    text-align: center;
    margin: 10px 0 50px 0;
}

.form-box .input-box {
    position: relative;
    display: flex;
    align-items: baseline;
    margin: 15px 0 11px 13px;
}

.form-box .input-box input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    padding: 1rem 0;
    font-size: 1.2rem;
}

.form-box .input-box i {
    margin-right: 11px;
    color: var(--col-blue2);
    font-size: 1.4rem;
    text-align: center;
    padding: 3px;
}

.form-box .input-box .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 1px;
}

.form-box .input-box .bar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--col-blue2);
    width: 100%;
    height: 2px;
    transform: scale(0);
    transform-origin: left;
    transition: transform .5s;
}

.form-box .input-box input:focus+.bar::after {
    transform: scale(1);
}

.form-box .input-box .view i {
    color: black;
}

.form-box .input-box .view i:hover {
    color: var(--col-yellow1);
}

.form-box .check-captcha {
    margin-left: 10px;
}

.form-box .btn {
    border: none;
    outline: none;
    padding: 11px 25px;
    background: var(--col-blue2);
    width: 172px;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    margin: 15px 0 0 20px;
}

.form-box .btn:hover {
    background: var(--col-green);
}

/* END STYLE POUR LA PAGE DE CONNEXION  */

/* ADMINISTRATIONS */

/* ======================= Cards ====================== */
.card-box {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.card-box .rio-card {
    position: relative;
    background: var(--white-color);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--grey-color);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.card-box .rio-card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--blue);
}

.card-box .rio-card .card-name {
    color: var(--bg-black1);
    font-size: 1.1rem;
    margin-top: 5px;
}

.card-box .rio-card .icon-bx {
    font-size: 2.5rem;
    color: var(--bg-black1);
}

.card-box .rio-card:hover {
    background: var(--col-yellow1);
}

.card-box .rio-card:hover .numbers,
.card-box .rio-card:hover .card-name,
.card-box .rio-card:hover .icon-bx {
    color: var(--white-color);
}
/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
    .card-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .card-box {
        grid-template-columns: repeat(1, 1fr);
    }
}